<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="12472OwenJohnson.CommanderScoreboard" Publisher="CN=C99164FB-040C-425D-9886-4E0A8324C29B" Version="3.3.1.15" />
  <Properties>
    <DisplayName>Commander Scoreboard</DisplayName>
    <PublisherDisplayName>Owen Johnson</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Commander_Scoreboard.App">
      <VisualElements DisplayName="Commander Scoreboard" Description="Commander Scoreboard" BackgroundColor="#336699" ForegroundText="light" ToastCapable="false" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png">
        <DefaultTile ShortName="Commander Scoreboard" ShowName="noLogos">
        </DefaultTile>
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
        <SplashScreen BackgroundColor="#121212" Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>