<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="560217C3-BFFB-4143-81BF-302697A14CEE" Publisher="CN=Adam" Version="1.0.0.2" />
  <Properties>
    <DisplayName>MtgLifeCounter</DisplayName>
    <PublisherDisplayName>Adam</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MtgLifeCounter.App">
      <VisualElements DisplayName="MtgLifeCounter" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Simple life counter for Magic the Gathering. Supports 60 card and commander." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#464646" />
        <InitialRotationPreference>
          <Rotation Preference="portrait" />
          <Rotation Preference="landscape" />
          <Rotation Preference="portraitFlipped" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>